= form_for @floor_monster do |f|
  - if @floor_monster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@floor_monster.errors.count, "error")} prohibited this floor_monster from being saved:"
      %ul
        - @floor_monster.errors.full_messages.each do |msg|
          %li= msg

  =f.hidden_field :floor_id
  .field
    = f.label :monster_id
    = f.collection_select :monster_id, Monster.all, :id, :name
    = link_to "Create a monster", new_monster_path
  .field
    = f.label :position
    = f.number_field :position
  .actions
    = f.submit 'Save'
