= form_for @dungeon do |f|
  - if @dungeon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dungeon.errors.count, "error")} prohibited this dungeon from being saved:"
      %ul
        - @dungeon.errors.full_messages.each do |msg|
          %li= msg
  Fields marked with a star are mandatory
  .field
    Name*
    %br
    = f.text_field :name
  .field
    Rules Description/Story Prologue
    %br
    = f.text_area :description
  .field
    Number of Players*
    %br
    = f.number_field :players, min: 1, max: 4
    Tag Team?
    = f.check_box :tag
  .field
    Starting Gold*
    %br
    = f.number_field :gold, min: 0
  .field
    Story Epilogue
    %br
    = f.text_area :epilogue
  .field
    = f.hidden_field :floors_ids, value: 0
  .actions
    = f.submit 'Save'
