%h1 Listing dungeons

%table
  %tr
    %th Name
    %th Players
    %th
    %th
    %th

  - @dungeons.each do |dungeon|
    %tr
      %td= dungeon.name
      %td= dungeon.players
      %td= link_to 'Show', dungeon
      %td= link_to 'Edit', edit_dungeon_path(dungeon)
      %td= link_to 'Destroy', dungeon, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dungeon', new_dungeon_path
