%p#notice= notice

%p
  %b Name:
  = @dungeon.name
%p
  %b Description:
  %br
  = @dungeon.description
%p
  %b Players:
  = @dungeon.players
%p
  %b Gold:
  = @dungeon.gold

%p
  %b Floors:
  %table
    - Dungeon.getAllDungeonFloors(@dungeon).each do |floor|
      %tr
      %td= link_to floor.name, floor_path(floor)
      %td= link_to "Delete floor", floor, :method => :delete, :data => { :confirm => "Really delete this floor?"}
  %br
  %br
  = link_to "Add a floor", new_floor_path(dungeon_id: @dungeon.id)

-unless @dungeon.epilogue == ''
  %p
    %b Epilogue:
    %br
    = @dungeon.epilogue

= link_to 'Edit', edit_dungeon_path(@dungeon)
\|
= link_to 'Back', dungeons_path
