= form_for @monster do |f|
  - if @monster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@monster.errors.count, "error")} prohibited this monster from being saved:"
      %ul
        - @monster.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ability
    = f.text_field :ability
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :life
    = f.number_field :life
  .field
    = f.select :image_path, @images
  %a{href: '#', "data-target" => "#imagem-modal", data: {toggle: "modal", href: monster_path(id: @monster.id)}, class: "imagem"} Test Modal
  %br

  .actions
    = f.submit 'Save'

#imagem-modal.modal.fade{"aria-hidden" => "true", "aria=labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      .modal-body
        -@images.each do |image|
          = f.radio_button :image_path, image_tag image, id: image
          = image
          %br
        -#.modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary{:type => "button"} Save changes

