%h1 Listing monsters

%table
  %tr
    %th Name
    %th Ability
    %th Life
    %th Attacks
    %th Position
    %th
    %th
    %th

  - @monsters.each do |monster|
    %tr
      %td= monster.name
      %td= monster.ability
      %td= monster.life
      %td= monster.attacks_id
      %td= monster.position
      %td= link_to 'Show', monster
      %td= link_to 'Edit', edit_monster_path(monster)
      %td= link_to 'Destroy', monster, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monster', new_monster_path
