%p#notice= notice

-if @monster.image_path
  =image_tag @monster.image_path
%p
  %b Name:
  = @monster.name

%p
  %b Ability:
  = @monster.ability
%p
  %b Life:
  = @monster.life
%p
  %b Attacks:
  - @attacks = Attack.where(monster_id:@monster.id)
  %table
    %tr
      %td 
        %b Name
      %td 
        %b Chance
      %td
        %b Range
      %td
        %b Power
      %td
        %b Priority
      %td{ align: "center" }
        %b Ability
      - @attacks.each do |atk|
        %tr
          %td= link_to atk.name, edit_attack_path(atk)
          -# %a{href: '#', "data-target" => "#attackm-modal", data: {toggle: "modal", href: monster_path(id: @monster.id)}, class: "attackm"}
            =atk.name
          %td{ align: "center" }= atk.chance
          %td{ align: "center" }
            -unless atk.range_end == nil
              -if atk.range_start == atk.range_end
                =atk.range_start
              -else
                =atk.range_start
                \~
                =atk.range_end
            -else
              =atk.range_start
          %td{ align: "center" }= atk.power
          %td{ align: "center" }= atk.priority
          %td{ align: "center" }= atk.ability
  %a{href: '#', "data-target" => "#attackm-modal", data: {toggle: "modal", href: monster_path(id: @monster.id)}, class: "attackm"} Add an attack

= link_to 'Edit', edit_monster_path(@monster)
\|
= link_to 'Back', monsters_path

#attackm-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "attackModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %br
      .modal-body
        - @attack = Attack.new(monster_id: @monster.id)
        = render 'attacks/form'
      
