%p#notice= notice

%p
  %b Name:
  = @monster.name
%p
  %b Ability:
  = @monster.ability
%p
  %b Life:
  = @monster.life
%p
  %b Attacks:
  - @attacks = Attack.where(monster_id:@monster.id)
  %table
    %tr
      %td Name
      %td Chance
      %td Range
      %td Power
      %td Priority
      %td Ability
      - @attacks.each do |atk|
        %tr
          %td= link_to atk.name, edit_attack_path(atk)
          %td= atk.chance
          %td{ align: "center" }
            =atk.range_start
            \~
            =atk.range_end
          %td{ align: "center" }= atk.power
          %td{ align: "center" }= atk.priority
          %td{ align: "center" }= atk.ability
  = link_to 'Add an attack', new_attack_path

= link_to 'Edit', edit_monster_path(@monster)
\|
= link_to 'Back', monsters_path
