= form_for @attack do |f|
  - if @attack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attack.errors.count, "error")} prohibited this attack from being saved:"
      %ul
        - @attack.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    Roll:
    %br
    = f.number_field :roll_start, min: 1, max: 6
    \~
    = f.number_field :roll_end, min: 1, max: 6
  .field
    Range:
    %br
    = f.number_field :range_start, min: 0, max: 9
    \~
    = f.number_field :range_end, min: 0, max: 9
  .field
    = f.label :power
    %br
    = f.number_field :power
  .field
    = f.label :priority
    %br
    = f.number_field :priority
  .field
    = f.label :ability
    %br
    = f.text_area :ability
  .actions
    = f.submit 'Save'
