%h1 Listing attacks

%table
  %tr
    %th Name
    %th Roll
    %th Range
    %th Power
    %th Priority
    %th Ability
    %th
    %th
    %th

  - @attacks.each do |attack|
    %tr
      %td= attack.name
      - if attack.roll_start == attack.roll_end
        %td= attack.roll_start
      - else
        %td= "#{attack.roll_start}~#{attack.roll_end}" 
      - if attack.range_start == attack.range_end
        %td= attack.range_start
      - else
        %td= "#{attack.range_start}~#{attack.range_end}"
      %td= attack.power
      %td= attack.priority
      %td= attack.ability
      %td= link_to 'Show', attack
      %td= link_to 'Edit', edit_attack_path(attack)
      %td= link_to 'Destroy', attack, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attack', new_attack_path
