%p#notice= notice

%p
  %b Name:
  = @attack.name
%p
  %b Range start:
  = @attack.range_start
%p
  %b Range end:
  = @attack.range_end
%p
  %b Power:
  = @attack.power
%p
  %b Priority:
  = @attack.priority
%p
  %b Ability:
  = @attack.ability
%p
  %b Chance:
  = @attack.chance
= link_to 'Edit', edit_attack_path(@attack)
\|
= link_to 'Back', monster_path(@attack.monster_id)
