= form_for @floor do |f|
  - if @floor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@floor.errors.count, "error")} prohibited this floor from being saved:"
      %ul
        - @floor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :objective
    = f.text_field :objective
  .field
    = f.label :size
    = f.select :size, [['Small - 5', 5], ['Normal - 7', 7], ['Large - 9', 9]]
  .field
    Parent floor
    - if @floor.dungeon_id
      = f.collection_select :parents_id, Floor.where(dungeon_id: @floor.dungeon_id), :id, :name
    - else
      = f.number_field :parents_id
  .field
    Child floor
    - if @floor.dungeon_id
      = f.collection_select :childs_id, Floor.where(dungeon_id: @floor.dungeon_id), :id, :name
    - else
      = f.number_field :childs_id
  .field
    Monsters
  .field
    = f.label :start_position
    = f.number_field :start_position
  .field
    = f.label :decision
    = f.check_box :decision
  .field
    = f.label :dungeon_id
    = f.collection_select :dungeon_id, Dungeon.all, :id, :name
  .actions
    = f.submit 'Save'
