%p#notice= notice

%p
  %b Name:
  = @floor.name
%p
  %b Objective:
  = @floor.objective
%p
  %b Size:
  = @floor.size
%p
  %table
    %tr
      %td 
        %b Monster
      %td 
        %b Position
    - @monsters = FloorMonster.where(floor_id: @floor.id)
    - @monsters.each do |monster|
      - @monster = Monster.where(id: monster.monster_id).first
      %tr
        %td= link_to @monster.name, edit_monster_path(@monster)
        %td= monster.position
    %tr
      %td= link_to "Add a monster to this floor", new_floor_monster_path        
%p
  %b Start position:
  = @floor.start_position
%p
  %b Dungeon:
  - @dungeon = Dungeon.where(id: @floor.dungeon_id).first
  = link_to @dungeon.name, dungeon_path(@dungeon)

- @parents = Junction.where(destination_id: @floor.id)
- @children = Junction.where(floor_id: @floor.id)
%table
  %tr
    %td
      Previous Floor(s):
    - @parents.each do |parent|
      - @parent_floor = Floor.where(id: parent.floor_id).first
      %td= link_to @parent_floor.name, floor_path(@parent_floor)
  %tr
    %td
      Next Floor(s):
      - @children.each do |child|
        - @child_floor = Floor.where(id: child.destination_id).first
        %td= link_to @child_floor.name, floor_path(@child_floor)
  %tr
    %td
      = link_to "Create a junction", new_junction_path
  
= link_to 'Edit', edit_floor_path(@floor)
\|
= link_to 'Back', floors_path
