= form_for @junction do |f|
  - if @junction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@junction.errors.count, "error")} prohibited this junction from being saved:"
      %ul
        - @junction.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :floor_id
  .field
    = f.label :destination_id
    = f.collection_select :destination_id, Floor.where(dungeon_id: Floor.where(id: params[:floor_id]).first.dungeon_id), :id, :name
  .actions
    = f.submit 'Save'
